In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
conn = sqlite3.connect('data\movies.db')

In [8]:
#Printing the query dataframe and rmeoving all rows with 0 in foreign_gross column
query = pd.read_sql('''SELECT g.title, t.content_rating, g.studio, t.production_company, t.tomatometer_status, t.tomatometer_rating
                       FROM rotten_tomatoes_movies AS t
                       JOIN bom_movie_gross as g
                       USING(idx)''', conn)
query.head()

,title,content_rating,studio,production_company,tomatometer_status,tomatometer_rating
0,Toy Story 3,PG,BV,20th Century Fox,Rotten,49.0
1,Alice in Wonderland (2010),R,BV,Sony Pictures Classics,Certified-Fresh,87.0
2,Harry Potter and the Deathly Hallows Part 1,R,WB,Waner Bros.,Fresh,67.0
3,Inception,NR,WB,Criterion Collection,Certified-Fresh,100.0
4,Shrek Forever After,G,P/DW,Disney,Fresh,89.0